.homepage-container {
    margin-top: 72px;
}

.homepage-banner {
    background-image: url("../image/banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    /* width: 100%; */
    height: 494px;
}

.homepage-booking-button button {
    /* position: absolute; */
    margin-left: 113px;
    margin-top: 325px;
}

/* ===================================================  */

.homepage-aboutus {
    margin-top: 50px;
    width: 900px;
}

.homepage-subtitle, .homepage-au-detail {
    /* Make the div in mid */
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px; 
}

.homepage-subtitle p {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #012231;
}

.homepage-long-detail {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #667085;
}

/* ===================================================  */

.homepage-step-design {
    background-color: #F1FFFB;
    height: 289px;
}

.homepage-step-design svg {
    margin-top: 42px;
    margin-left: auto;
}

/* ===================================================  */

.homepage-whyus {
    margin-top: 55px;
    width: 1200px;
}

.homepage-superiority svg {
    margin-left: 100px;
    height: 130px;
}

.homepage-superiority h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    
    text-align: center;
    
    /* Text */
    
    color: #151875;
}

.homepage-superiority p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 160% */
    
    text-align: center;
    
    color: rgba(26, 11, 91, 0.3);
}

.homepage-package-group {
    width: auto;
    margin-left: 165px;
    margin-right: 165px;
}