.homepage-container {
    margin-top: 72px;
}

.homepage-banner {
    background-image: url("../image/banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    /* width: 100%; */
    height: 494px;
}

.homepage-booking-button button {
    /* position: absolute; */
    margin-left: 113px;
    margin-top: 325px;
}

/* ===================================================  */


.homepage-subtitle, .homepage-au-detail {
    /* Make the div in mid */
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px; 
}

.homepage-long-detail {
    width: 1100px;
    margin-inline: auto;
}

.homepage-subtitle p {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #012231;
}

.homepage-long-detail p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #667085;
}

/* ===================================================  */

.homepage-step-design {
    height: 289px;
    background-color: #F1FFFB;
    width: 100%;
}

.homepage-sd-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #012231;
    
    margin-top: 42px;
}

.homepage-sd-part svg {
    margin-top: 6px;
}

/* ===================================================  */

.homepage-whyus {
    margin-top: 55px;
    width: 1200px;
    margin-inline: auto;
}

.homepage-superiority-card {
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
}

.homepage-superiority svg {
    margin-left: 100px;
    height: 130px;
}

.homepage-superiority h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;    
    color: #151875;
}

.homepage-superiority p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 160% */
    
    text-align: center;
    
    color: rgba(26, 11, 91, 0.3);
}

.homepage-package-group {
    width: auto;
    margin-left: 165px;
    margin-right: 165px;
}

/* Portofolio ===================================================  */

.homepage-portofolio-scrollable {
    padding-right: 0;
    margin-left: -10px;
    height: auto;
}