.thumbnail-container {
    margin-top: 50px;
}

.thumbnail-360 img {
    width: 550px;
}

.thumbnail-list {
    margin-top: 30px;
}

.thumbnail-list-item img {
    margin-top: 15px;
    width: 150px;

    border: 1px solid #055053;
    box-sizing: border-box;
    border-radius: 30px;
}